:root {
  /* == COLORS == */
  --color-light: #fff;

  --color-mono-950: oklch(14.1% 0.005 285.823);
  --color-mono-900: oklch(21% 0.006 285.885);
  --color-mono-800: oklch(27.4% 0.006 286.033);
  --color-mono-700: oklch(37% 0.013 285.805);
  --color-mono-600: oklch(44.2% 0.017 285.786);
  --color-mono-500: oklch(55.2% 0.016 285.938);
  --color-mono-400: oklch(70.5% 0.015 286.067);
  --color-mono-300: oklch(87.1% 0.006 286.286);
  --color-mono-200: oklch(92% 0.004 286.32);
  --color-mono-100: oklch(96.7% 0.001 286.375);
  --color-mono-50: oklch(98.5% 0 0);

  --color-dark: var(--color-mono-900);

  --color-primary: crimson;
  --color-primary-glare: color-mix(in oklch, var(--color-primary) 30%, transparent);

  --color-global-link-color: currentColor;
  --color-selection-bg: var(--color-mono-100);
  --color-selection-text: currentColor;

  /* == TYPOGRAPHY == */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: 'Newsreader', ui-serif, serif;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --global-style-link-text-decoration: underline;
  --global-style-link-hover-text-decoration: underline;
  --global-style-link-underline-offset: 0.15lh;

  --leading: 1.75;

  --kerning-tight: -0.02em;

  --text-size-xs: 0.79rem;
  --text-size-sm: 0.9375rem;
  --text-size-base: 1rem;
  --text-size-lg: 1.125rem;
  --text-size-xl: 1.266rem;
  --text-size-2xl: 1.424rem;
  --text-size-3xl: 1.602rem;
  --text-size-4xl: 1.802rem;
  --text-size-5xl: 2.027rem;

  /* == SIZINGS == */
  --content-width: 560px;
  --page-width: 1072px;

  --flow-space: 1.5em;

  --gutter-sm: 1rem;
  --gutter: 1.125rem;
  --gutter-lg: 1.25rem;

  /* == ANIMATIONS & TRANSITIONS */
  --transition-link: 240ms;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans: InterVariable, system-ui, sans-serif;
  }
}
