:root {
  /* == COLORS == */
  --color-light: #fff;

  --color-mono-900: oklch(0.1 0 0);
  --color-mono-800: oklch(0.2 0 0);
  --color-mono-700: oklch(0.3 0 0);
  --color-mono-600: oklch(0.4 0 0);
  --color-mono-500: oklch(0.5 0 0);
  --color-mono-400: oklch(0.6 0 0);
  --color-mono-300: oklch(0.7 0 0);
  --color-mono-200: oklch(0.8 0 0);
  --color-mono-100: oklch(0.9 0 0);
  --color-mono-50: oklch(0.95 0 0);

  --color-dark: var(--color-mono-900);

  --color-primary: olive;

  --color-global-link-color: currentColor;
  --color-selection-bg: oklch(93.6% 0.032 17.717);
  --color-selection-text: currentColor;

  /* == TYPOGRAPHY == */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: 'Newsreader', ui-serif, serif;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --global-style-link-text-decoration: underline;
  --global-style-link-hover-text-decoration: underline;
  --global-style-link-underline-offset: 0.2lh;

  --leading: 1.75;

  --kerning-tight: -0.02em;

  --text-size-xs: 0.79rem;
  --text-size-sm: 0.9375rem;
  --text-size-base: 1rem;
  --text-size-lg: 1.125rem;
  --text-size-xl: 1.266rem;
  --text-size-2xl: 1.424rem;
  --text-size-3xl: 1.602rem;
  --text-size-4xl: 1.802rem;
  --text-size-5xl: 2.027rem;

  /* == SIZINGS == */
  --content-width: 560px;
  --page-width: 1072px;

  --flow-space: 1.5em;

  --gutter-sm: 1rem;
  --gutter: 1.125rem;
  --gutter-lg: 1.25rem;

  /* == ANIMATIONS & TRANSITIONS */
  --transition-link: 240ms;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans: InterVariable, system-ui, sans-serif;
  }
}
