.prose {
  font-size: var(--text-size-sm);
}

.prose.flow > * {
  --flow-space: 1.125em;
}

.prose > :first-child {
  margin-block-start: 0;
}

.prose em {
  font-family: var(--font-serif);
  font-size: calc(1em + 3px);
  font-weight: var(--font-normal);
}

.prose a {
  text-underline-offset: 0.15lh;
}
