.site-footer {
  font-family: var(--font-serif);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  text-align: center;
}

.site-footer > .wrapper {
  border-block-start: var(--frame-stroke);
}
