.site-header {
  --site-header-height: 4rem;

  border-block-end: var(--stroke);
}

.site-header__container {
  padding-inline-end: var(--gutter);
}

a.site-header__logo {
  color: currentColor;
  text-decoration: none;
}

a.site-header__logo:hover {
  text-decoration: var(--global-style-link-hover-text-decoration, revert);
  text-underline-offset: var(--global-style-link-hover-underline-offset);
}

.site-header__logo-img {
  background: var(--color-dark);
  height: var(--site-header-height);
  width: var(--site-header-height);
}

.site-header__logo-text {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}
