---
interface NavItem {
  title: string
  url: string
}

const navItems: NavItem[] = [
  {
    title: "Posts",
    url: "/posts",
  },
  {
    title: "About",
    url: "/about",
  },
  {
    title: "Projects",
    url: "/projects",
  },
]
---

<header role="banner" class="site-header">
  <div class="wrapper">
    <div class="wrapper repel" data-wrapper-type="inner">
      <a href="/" class="site-header__logo">
        <span class="site-header__logo-text">Jannik B.</span>
      </a>

      <nav class="navigation">
        <ul class="cluster" role="list">
          {
            navItems.map((item) => (
              <li>
                <a href={item.url}>{item.title}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  .site-header > .wrapper {
    border-block-end: var(--frame-stroke);
    border-block-start: var(--frame-stroke);
  }

  .site-header__logo {
    color: currentColor;
    text-decoration: none;
  }

  .site-header__logo:hover {
    text-decoration: var(--global-style-link-hover-text-decoration, revert);
    text-underline-offset: var(--global-style-link-hover-underline-offset);
  }

  .site-header__logo-text {
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    letter-spacing: var(--kerning-tight);
  }
</style>
