---
interface NavItem {
  title: string
  url: string
}

const navItems: NavItem[] = [
  {
    title: "Posts",
    url: "/posts",
  },
  {
    title: "About",
    url: "/about",
  },
  {
    title: "Projects",
    url: "/projects",
  },
]
---

<header role="banner" class="site-header">
  <div class="wrapper">
    <div class="wrapper repel" data-wrapper-type="inner">
      <a href="/" class="site-header__logo">
        <span class="site-header__logo-text">
          <em>Jannik B.</em>
        </span>
      </a>

      <nav class="navigation">
        <ul class="cluster" role="list">
          {
            navItems.map((item) => (
              <li>
                <a href={item.url}>{item.title}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
