/* == CLUSTER == */
.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-gutter, var(--gutter));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}

/* == FLOW == */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* == MAIN GRID == */
.main-grid {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 192px var(--content-width) 192px;
  column-gap: 1.5rem;
}

[data-main-grid-position='start'] {
  grid-column: 1;
}

[data-main-grid-position='center'] {
  grid-column: 2;
}

[data-main-grid-position='end'] {
  grid-column: 3;
}

/* == REPEL == */
.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--repel-gutter, var(--gutter));
}

.repel[data-nowrap] {
  flex-wrap: nowrap;
}
