@import './global/reset.css';
@import './global/variables.css';
@import './utilities.css';

/* Compositions & BLocks are imported via glob import in BaseHead.astro */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--color-light);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  font-size: var(--text-size-base);
  line-height: var(--leading);
  margin: 0;
  min-height: 100vh;
  padding: 1.35rem;
  padding-block-start: 2.7rem;
  text-rendering: optimizeLegibility;

  @media screen and (width > 768px) {
    padding-block-start: 5.4rem;
  }
}

::selection {
  background: var(--color-selection-bg);
  color: var(--color-selection-text);
}

:where(a) {
  color: var(--color-global-link-color);
}

:where(a:not([class])) {
  text-decoration-color: var(--color-mono-100);
  text-decoration-line: var(--global-style-link-text-decoration, revert);
  text-underline-offset: var(--global-style-link-underline-offset);
  transition: var(--transition-link);
}

:where(a:not([class]):hover) {
  text-decoration-color: var(--color-mono-200);
  text-decoration-line: var(--global-style-link-hover-text-decoration, revert);
  text-underline-offset: var(--global-style-link-underline-offset);
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline: auto;
  max-width: var(--content-width);

  @media (width > 768px) {
    max-width: var(--page-width);
  }
}

h1 {
  font-size: var(--text-size-5xl);
}

h2 {
  font-size: var(--text-size-4xl);
}

h3 {
  font-size: var(--text-size-3xl);
}

h4 {
  font-size: var(--text-size-2xl);
}

h5 {
  font-size: var(--text-size-xl);
}

h6 {
  font-size: var(--text-size-lg);
}

:where(:not(.prose) p) {
  margin-block-start: 0;
}
