<div class="prose flow">
  <p><em>Hello, friend.</em></p>
  <p>
    I'm a full stack PHP and JS developer based in Germany, with a current faible for <a
      href="https://laravel.com"
      target="_blank"
      rel="noopener">Laravel</a
    >, <a href="https://svelte.dev" target="_blank" rel="noopener">Svelte</a> and <a
      href="https://piccalil.li/blog/cube-css/"
      target="_blank"
      rel="noopener">Cube CSS</a
    >.
  </p>

  <p>When not writing code I like to go climbing, read a book or listen to some music.</p>
</div>
