---
import { siteConfig } from '@/config'
// Import the global.css file here, so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/styles/global.css'
// Import compositions & blocks
import.meta.glob('@/styles/compositions/*.css', { eager: true })
import.meta.glob('@/styles/blocks/*.css', { eager: true })

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="https://emojicdn.elk.sh/🪶" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.bunny.net" />
<link href="https://fonts.bunny.net/css?family=newsreader:400i" rel="stylesheet" />
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>
  {title || siteConfig.title}
</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
