---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class="[ region ] [ hero-region ]">
    <div class="wrapper flow">
      <h1>Jannik B.</h1>
      <p class="hero-region__copy">
        <em>Fullstack developer with a faible for Laravel and CSS</em>
      </p>
    </div>
  </section>
</Layout>
