---
import Layout from "../components/Layout.astro";
import About from "../components/About.astro";
import Blog from "../components/Blog.astro";
import SideProjects from "../components/SideProjects.astro";
---

<Layout>
  <div class="space-y-10">
    <div class="mt-8"></div>
    <About />
    <SideProjects />
    <Blog />
    <div class="mt-8"></div>
  </div>
</Layout>
