---
import About from "../components/About.astro";
import Blog from "../components/Blog.astro";
import Layout from "../components/Layout.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <div class="space-y-10">
    <div class="mt-8"></div>
    <About />
    <Projects />
    <Blog />
  </div>
</Layout>
