---
import BaseHead from "../components/BaseHead.astro"
import Container from "../components/Container.astro"
import Header from "../components/Header.astro"
import { SITE_INFO } from "../constants"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_INFO.TITLE} description={SITE_INFO.DESCRIPTION} />
  </head>
  <body class="text-zinc-900 antialiased">
    <main class="flex min-h-screen flex-col items-center gap-16 py-16 md:py-32">
      <Container>
        <Header />
      </Container>

      <div class="flex-1"></div>

      <footer class="mt-4 text-center text-sm text-zinc-400">
        &copy; Written by a human, {new Date().getFullYear()}.
      </footer>
    </main>
  </body>
</html>
