---
import BaseHead from "../components/BaseHead.astro"
import Container from "../components/Container.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Posts from "../components/Posts.astro"
import { SITE_INFO } from "../constants"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_INFO.TITLE} description={SITE_INFO.DESCRIPTION} />
  </head>
  <body class="text-zinc-900 antialiased selection:bg-amber-100">
    <main class="flex min-h-screen flex-col items-center gap-16 py-16 md:py-32">
      <Container>
        <Header />
      </Container>

      <Container>
        <Posts />
      </Container>

      <Footer />
    </main>

    <script>
      import { createIcons, ExternalLink } from "lucide"

      createIcons({
        icons: {
          ExternalLink,
        },
      })
    </script>
  </body>
</html>
