---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import { SITE_INFO } from "../constants"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_INFO.TITLE} description={SITE_INFO.DESCRIPTION} />
  </head>
  <body class="text-zinc-900 antialiased">
    <main class="my-16 flex flex-col items-center gap-16 md:my-32">
      <div class="w-full max-w-2xl px-4">
        <Header />
      </div>

      <footer class="mt-4 text-center text-sm text-zinc-400">
        &copy; Written by a human brain in {new Date().getFullYear()}.
      </footer>
    </main>

    <script>
      import { createIcons, Megaphone } from "lucide"

      createIcons({
        icons: {
          Megaphone,
        },
      })
    </script>
  </body>
</html>
