---
import { getCollection } from "astro:content"

import { SITE_INFO } from "../constants"

import BaseHead from "../components/BaseHead.astro"
import Container from "../components/Container.astro"
import Header from "../components/Header.astro"
import Bio from "../components/Bio.astro"
import Posts from "../components/Posts.astro"
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_INFO.TITLE} description={SITE_INFO.DESCRIPTION} />
  </head>
  <body
    class="selection:bg-accent/10 h-full bg-white text-stone-900 antialiased"
  >
    <Container>
      <Header />

      <main class="space-y-16">
        <Bio />
        <Posts />
      </main>

      <Footer />
    </Container>
  </body>
</html>
