<div class="flex items-start gap-x-6">
  <div class="shrink-0">
    <div
      class="bg-base-white max-w-max p-2 rounded-lg shadow-sm ring-1 ring-base-100/50 -rotate-2 hover:rotate-0 transition-transform"
    >
      <img src="/me.jpg" alt="" class="bg-base-200 rounded-md w-20 sm:w-24" />
      <p class="mt-1 text-center font-handwriting text-lg">That's me!</p>
    </div>
  </div>
  <div class="prose prose-sm prose-stone prose-a:font-medium">
    <p>
      Hey there! My name is Jannik. I'm a full stack developer with a background
      in UI and print design.
    </p>
    <p>
      At the moment I work as a full stack developer at <a
        href="https://360vier.de"
        target="_blank"
        class="text-[#81ba49]">360VIER</a
      >. In my spare time I tinker on some side projects with <a
        href="https://laravel.com"
        class="text-[#ef4444]"
        target="_blank">Laravel</a
      >, work on creating the perfect <a href="#" class="text-[#78350f]"
        >latte art</a
      > or do something fun with my wife.
    </p>
  </div>
</div>
