<section class="space-y-3 font-serif">
  <p class="font-sans text-lg font-medium">
    <span class="text-accent">#</span> Hello, friend.
  </p>
  <p class="leading-relaxed text-zinc-700">
    I'm Jannik, a full stack web developer from Germany. I spend quite some time
    with PHP, JS, HTML and CSS. In my free time I enjoy spending time with my
    wife, tinkering on little side projects, or hanging out at the local
    climbing gym.
  </p>

  <p class="leading-relaxed text-zinc-700">
    My current tools of choice are Laravel, Tailwind, React and Svelte – so
    that's what you'll mostly read about here.
  </p>
</section>
