---
import { titleCase } from "title-case";
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog"))
  .filter((post) => post.data.published)
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
  );
---

<div>
  <h2 class="text-lg font-semibold tracking-tighter mb-[0.8em]">Blog</h2>

  <ul class="space-y-2">
    {
      posts.map((post) => (
        <li>
          <a
            href={`/${post.slug}/`}
            class="flex justify-between no-underline text-sm"
          >
            <p class="underline font-medium text-[#1c1917]">
              {titleCase(post.data.title)}
            </p>
            <p class="shrink-0 tabular-nums text-base-300">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</div>
