<div class="text-sm pt-4 border-t border-base-100">
  Inspired by <a
    href="https://stephango.com/flexoki"
    class="font-medium"
    target="_blank">Flexoki</a
  > from Steph Ango and <a
    href="https://ben.page/"
    class="font-medium"
    target="_blank">Ben Borgers</a
  > personal page.
</div>
