---
import { Image } from "astro:assets"
import MyPortrait from "../assets/me.jpeg"
import Tag from "./Tag.astro"
import SectionTitle from "./SectionTitle.astro"
---

<header class="flex flex-col gap-8">
  <div class="flex items-center gap-4">
    <div
      class="size-24 shrink-0 overflow-hidden rounded-full border border-white shadow-md shadow-zinc-200"
    >
      <Image
        src={MyPortrait}
        loading="eager"
        alt="Jannik"
        class="block aspect-square h-full w-full object-cover"
        width={300}
        height={300}
      />
    </div>
    <div class="space-y-1">
      <div>
        <h1 class="flex scroll-m-20 text-2xl font-semibold tracking-tighter">
          Jannik Baranczyk
        </h1>
        <div class="text-sm text-zinc-500">
          <p>Senior full-stack developer, coffee lover, music nerd.</p>
        </div>
      </div>
      <Tag />
    </div>
  </div>

  <section class="space-y-2">
    <div class="flex flex-col gap-4">
      <SectionTitle>Hello, friend.</SectionTitle>

      <p class="text-sm leading-relaxed text-zinc-500">
        I currently work as a full stack developer at <a
          href="https://360vier.de"
          target="_blank"
          class="font-medium underline underline-offset-2">360VIER</a
        >. In my spare time I tinker on some side projects with <a
          href="https://laravel.com"
          class="font-medium underline underline-offset-2"
          target="_blank">Laravel</a
        >, work on creating the perfect latte art or do something fun with my
        wife.
      </p>

      <p class="text-sm leading-relaxed text-zinc-500">
        I also like Laravel and modern PHP development.
      </p>
    </div>
  </section>
</header>
