---
import { Image } from "astro:assets"
import MyPortrait from "../assets/me.jpeg"
import Tag from "./Tag.astro"
---

<header class="flex flex-col gap-8">
  <div class="flex items-center gap-4">
    <div
      class="size-24 shrink-0 overflow-hidden rounded-full border-white shadow-md shadow-slate-200"
    >
      <Image
        src={MyPortrait}
        loading="eager"
        alt="Jannik"
        class="block aspect-square h-full w-full object-cover"
        width={300}
        height={300}
      />
    </div>
    <div class="space-y-1">
      <div>
        <h1 class="flex scroll-m-20 text-2xl font-semibold tracking-tighter">
          Jannik Baranczyk
        </h1>
        <div class="text-sm text-zinc-500">
          <p>Senior full-stack developer from Aschaffenburg, Germany.</p>
        </div>
      </div>
      <Tag />
    </div>
  </div>
</header>
