---
import { Image } from "astro:assets"
import Portrait from "../assets/me.jpeg"
---

<header class="flex items-center justify-between py-16">
  <a href="/" class="inline-flex items-center gap-4">
    <Image
      src={Portrait}
      loading="eager"
      alt="A person wearing a dark hoodie and cap holds a compact camera up to their face, taking a photo outdoors in low light."
      class="block aspect-square size-16 rounded-full border-2 border-white object-cover shadow"
      width={128}
      height={128}
    />
    <div>
      <h1 class="font-medium text-black">Jannik Baranczyk</h1>
      <span class="text-sm text-stone-700"> Full Stack Web Developer </span>
    </div>
  </a>
</header>
