---
import GitHub from "./icons/GitHub.astro";
---

<header class="flex items-center justify-between border-b pb-4 border-base-100">
  <a href="/" class="font-semibold tracking-tighter flex gap-x-1.5"
    ><span>&gt;_</span><span>jannbar</span></a
  >

  <a href="https://github.com/jannbar" target="_blank">
    <GitHub />
  </a>
</header>
