---
import SectionTitle from "./SectionTitle.astro"
import { getCollection } from "astro:content"

// const posts = (await getCollection("posts"))
//   .filter((post) => (import.meta.env.DEV ? true : post.data.published))
//   .sort(
//     (a, b) =>
//       new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
//   )
const posts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true
})

const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.publishDate).getTime() -
    new Date(a.data.publishDate).getTime(),
)
---

<article class="flex flex-col gap-4">
  <SectionTitle>Posts</SectionTitle>

  <ul class="space-y-4">
    {
      sortedPosts.map((post) => (
        <li>
          <time
            datetime={post.data.publishDate.toISOString().substring(0, 10)}
            class="text-xs text-zinc-500"
          >
            {post.data.publishDate.toISOString().substring(0, 10)}
          </time>
          <a
            href={`/posts/${post.slug}`}
            class="underline-offset-2 hover:underline"
          >
            <article>
              <h4 class="font-medium text-zinc-800">{post.data.title}</h4>
            </article>
          </a>
        </li>
      ))
    }
  </ul>
</article>
