---
import Prose from "./Prose.astro";
---

<Prose>
  <h2>Side Projects</h2>
  <ul>
    <li>
      <a href="https://brewguide.vercel.app" target="_blank">brewguide</a>: A
      bunch of coffee recipes.
    </li>
    <li>
      <a href="https://github.com/jannbar/miny" target="_blank">miny</a>:
      Appointment scheduling app.
    </li>
    <li>
      <a href="https://github.com/jannbar/wilhelm" target="_blank">wilhelm</a>:
      Tiny app that works like <a href="https://myray.app/" target="_blank"
        >Ray</a
      >, but with only a third of the features.
    </li>
  </ul>
</Prose>
