<div
  class="inline-flex items-center gap-1 rounded-full bg-green-100 px-2 py-1 text-green-700"
>
  <i data-lucide="megaphone" class="size-4"></i>
  <div class="text-xs font-semibold">PHP is not dead!</div>
</div>
