<section class="[ region ] [ latest-posts-region ]">
  <div class="wrapper flow" data-wrapper-type="prose">
    <h2>Latest Posts</h2>
  </div>
</section>

<style>
  h2 {
    font-size: var(--text-2xl);
  }
</style>
