---
import BaseHead from '@/components/layout/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import { siteConfig } from '@/config'
import BaseLayout from '@/layouts/BaseLayout.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<BaseLayout>
  <BaseHead title={title} description={description} slot="head" />

  <main>
    <div class="main-grid">
      <article data-main-grid-area="content" class="flow">
        <Header title={siteConfig.title} data-main-grid-area="content" />
        <slot />
      </article>
    </div>
  </main>

  <Footer />
</BaseLayout>

<style>
  article {
    --flow-space: 2.5em;
  }
</style>
