---
import SiteHeader from "../components/modules/SiteHeader.astro"
import "../styles/global.css"
import.meta.glob(
  [
    "../styles/compositions/*.css",
    "../styles/blocks/*.css",
    "../styles/utilities/*.css",
  ],
  {
    eager: true,
  },
)

interface Props {
  title?: string
  description?: string
}

const defaultTitle = "Jannik Baranczyk - Fullstack Developer"
const defaultDescription =
  "I'm a fullstack developer with a background in design"

const { title = defaultTitle, description = defaultDescription } = Astro.props

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalUrl} />
    <!-- Webfonts -->
    <link
      href="https://api.fontshare.com/v2/css?f[]=general-sans@1,2&display=swap"
      rel="stylesheet"
    />
    <!-- Structured data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "jatnnik.dev",
        "url": "https://jatnnik.dev",
        "author": {
          "@type": "Person",
          "name": "Jannik Baranczyk"
        }
      }
    </script>
  </head>
  <body>
    <div class="site-container">
      <SiteHeader />
      <main tabindex="-1" id="main-content">
        <slot />
      </main>
      <footer class="site-footer">
        <div class="wrapper">
          <div class="wrapper" data-wrapper-type="inner">
            <span><em>Code is poetry</em></span>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
