---
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"
import me from "../assets/me.jpeg"
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import { formatDate } from "../util/formatDate"

type Props = CollectionEntry<"posts">["data"]

const { title, publishDate } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="text-zinc-900 antialiased selection:bg-amber-100">
    <main class="space-y-16 py-16 md:py-32">
      <article
        class="prose prose-headings:text-balance prose-headings:text-xl prose-headings:font-semibold prose-headings:tracking-tight prose-headings:text-zinc-900 prose-h1:text-2xl prose-p:leading-relaxed prose-a:font-normal prose-a:text-zinc-500 prose-a:underline-offset-2 prose-blockquote:text-zinc-500 prose-strong:font-medium prose-strong:text-zinc-700 prose-code:text-rose-500 prose-code:before:content-none prose-code:after:content-none prose-pre:rounded-md prose-pre:p-3 prose-pre:leading-loose prose-pre:shadow-xs prose-pre:ring-1 prose-pre:ring-zinc-200/50 mx-auto max-w-2xl px-6 text-zinc-500 [&_code:not(pre_code)]:rounded-md [&_code:not(pre_code)]:bg-white [&_code:not(pre_code)]:p-0.5 [&_code:not(pre_code)]:ring-1 [&_code:not(pre_code)]:ring-zinc-200/50"
      >
        <div class="flex items-center gap-3">
          <div
            class="size-12 shrink-0 overflow-hidden rounded-full border border-white shadow-md shadow-zinc-200"
          >
            <Image
              src={me}
              loading="eager"
              alt="Jannik"
              class="not-prose block aspect-square h-full w-full object-cover"
              width={48}
              height={48}
            />
          </div>
          <h4 class="not-prose font-semibold tracking-tighter text-zinc-900">
            Jannik Baranczyk
          </h4>
        </div>

        <div class="not-prose mt-9 mb-1.5 space-y-9">
          <a
            href="/"
            class="inline-flex items-center gap-2 text-sm text-zinc-600 no-underline underline-offset-2 hover:underline"
          >
            <i data-lucide="arrow-left" class="size-4"></i>Back to home
          </a>
          <div
            class="flex flex-shrink-0 items-center gap-1 text-sm font-medium text-zinc-400"
          >
            <i data-lucide="calendar" class="size-3"></i>
            {formatDate(publishDate)}
          </div>
        </div>
        <slot />
      </article>

      <Footer />
    </main>

    <script>
      import { createIcons, ArrowLeft, Calendar } from "lucide"

      createIcons({
        icons: {
          ArrowLeft,
          Calendar,
        },
      })
    </script>
  </body>
</html>
